@charset "UTF-8";

body {
	background-color:#000000;
	margin: 0;
	padding: 0;
	background-attachment:fixed;
}

h1 {
	font-weight:bold;
	color:#12b2e7;
	text-shadow:1px 1px black;
	text-align:center;
	font-family:Verdana, Geneva, sans-serif;
}

img {
	border:0;
	vertical-align:middle;
}

p.date {
	font-size:0.9em;
	color:white;
	text-shadow:1px 1px black;
	text-align:right;
	font-family:Arial, Helvetica, sans-serif;
	margin:0;
	line-height:1.2;
}

p.links {
	color:white;
	text-shadow:1px 1px black;
	margin: 0 ;
	padding-top:10px;
	font-family:Arial, Helvetica, sans-serif;
}

a.anchor{
	display: block;
	position: relative;
	top: -75px;
	visibility: hidden;
}

table.gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:14px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
	width: 90%;
	margin: 0px auto;
}

table.gridtable th {
	font-size:20px;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}

table.gridtable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}

a:link {color:#12b2e7;}
a:visited {color:#12b2e7;}
a:hover {color:yellowgreen;}
a:active {color:yellowgreen;}
a:focus {outline: none;}

.table a:link {color:#0000FF;}
.table a:visited {color:#0000FF;}
.table a:hover {color:green;}
.table a:active {color:green;}
.table a:focus {outline: none;}
