<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="30000">
		<setting id="save_location" type="folder" source="files" label="30001" default=""/>
		<setting type="sep" />
		<setting id="includemovies" type="bool" label="30002" default="true" enable="Library.HasContent(movies)"/>
		<setting id="movieplot" type="bool" label="30010" subsetting="true" enable="eq(-1,true)" visible="Library.HasContent(movies)" default="false"/>
		<setting type="sep" />
		<setting id="includetvshows" type="bool" label="30003" default="true" enable="Library.HasContent(tvshows)"/>
		<setting id="tvshowplot" type="bool" label="30010" subsetting="true" enable="eq(-1,true)" visible="Library.HasContent(tvshows)" default="false"/>
		<setting id="episodes" type="bool" label="30011" subsetting="true" enable="eq(-2,true)" visible="Library.HasContent(tvshows)" default="false"/>
	</category>
	<category label="30020">
		<setting id="Enable_ftp" type="bool" label="30021" default="false"/>	
		<setting type="sep" />
		<setting id="server" type="text" label="30022" subsetting="true" enable="eq(-2,true)" default=""/>
		<setting id="user" type="text" label="30023" subsetting="true" enable="eq(-3,true)" default=""/>
		<setting id="password" type="text" label="30024" subsetting="true" enable="eq(-4,true)" default="" option="hidden"/>
		<setting type="sep" />
		<setting type="lsep" label="30027"/>
		<setting id="enable_ftp_dir" type="bool" label="30028" default="false" enable="eq(-7,true)"/>
		<setting id="ftp_dir" type="text" label="30029" default="" subsetting="true" enable="eq(-1,true) + eq(-8,true)"/>
		<setting type="sep" />
		<setting id="Enable_Password" type="bool" label="30017" default="false" enable="eq(-10,true)"/>
		<setting type="lsep" label="30008" visible="eq(-1,true)"/>
		<setting id="web_password" type="text" label="30024" subsetting="true" enable="eq(-2,true) + eq(-12,true)" default="admin" option="hidden"/>
		<setting type="sep" />
		<setting id="logout_url" type="text" label="30019" subsetting="true" enable="eq(-4,true) + eq(-14,true)" default="www.google.com"/>
	</category>
</settings>